body{
    background-color: #111111; color: #ffffff; 
    margin: 0; 
    padding: 0;
    text-align: center;
}

.superior{
    text-decoration: none;
    color: #ffffff;
}

.superior :hover {
    text-decoration: underline #e69d3e;
    text-underline-position: below;
}

.mas{
    text-decoration: none;
    background-color: #e69d3e;
    color: black;
}

header{
    background-color: #111111;
    width: 100vw;
    top: 0; 
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hipervinculos{
    justify-content: space-between;
    width: 30vw;
    display: flex;
    padding-right: 10vw;
    font-size: 1.3vw;
    font-family: sans-serif;
}

.logoCafe{
    margin: 0; 
    padding: 0; 
    padding-left: 2vw;
    width: 5vw; 
    height: auto;
}

.mainPage{
    background-image: url(./Images/pexels-nao-triponez-129207.jpg); 
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; 
    padding:  0; 
    height: 100vh;
    align-items: center;
    align-content: center;
}

.text1{
    position: center center;
    font-family: 'Times New Roman', Times, serif; color: #ffffff; font-size: 600%;
    margin-top: 10vh;
}

.text2{
    position: center center;
    font-family: 'Times New Roman', Times, serif; color: #ffffff; font-size: 600%;
    margin-top:60vh;
    margin-bottom: 0;
}

.comprar{
    text-decoration: none;
    background-color: #e69d3e;
    color: black;
    font-size: 2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    font-family: sans-serif;
}

.mas{
    text-decoration: none;
    background-color: #e69d3e;
    color: black;
    font-size: 2rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    font-family: sans-serif;
}

.aboutUs{
    align-items: center;
    align-content: center;
}

.primerSection{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    margin-left: 12%;
    margin-bottom: 20vh;
}

.texto1 {
    align-content: center;
}

.texto1 div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.texto1 h1 {
    font-size: 5vw;
}
.texto1 p {
    padding-left: 5vw;
    text-align: left;
    font-size: 1.5vw;
    margin-top: -3rem;
}

.line {
    background-color: #ffffff;
    width: 4vw;
    height: 0.2rem;
    float: left;
}

.segundaSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10vw;
}

.cafe1{
    height: 25vw;
}
.cafe2{
    width: 25vw;
}

.texto2{
    text-align: left;
}
.cafesito1{
    width: 6vw;
}

.cafesito2{
    width: 6vw;
}

.cafesito3{
    width: 6vw;
}