body{
    background-color: #18141c;
    margin: 20vw;
    margin-top: 5vh;
}

h1{
    color: #bec2c9;
    font-family:Helvetica, sans-serif;
    font-size: 4rem;
    justify-content: center;
}

.father{
    background-color:#141810;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 2%;
    border-radius: 60px;
    row-gap: 1.5vw;
    column-gap: 1.5vw;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 65px;
}

.a3-4{
    grid-column: 3 / span 2
}

.b1-c1{
    grid-row: 2 / span 2
}

.b2-3{
    grid-column: 2 / span 2
}

.c2-3{
    grid-column: 2 / span 2;
}