body {

    background-image: url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
    background-image:url(bkgrd.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: rgb(62, 145, 6);
    display: flex;
    justify-content: center;
}

.HojaDeVida{
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid;
    margin: 1px;
    padding: 1rem;
}

div #imagen{
    border: none;
    padding: 1rem;
    background-color: white;
}

div img {
    width: 15rem; 
    height: 19rem;
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
}

div #bloqueDerecho{
    background-color: white;
}

div #Proyectos {
    background-color: aliceblue;
}

div #bloqueIzquierdo{
    background-color: white;
}
div #informacionPersonal {
    background-color: aliceblue;
}
div #bloqueCentral{
    background-color: white;
}

div #informacionAcademica {
    background-color: aliceblue;
}

div #Habilidades {
    background-color: aliceblue;
}