
body {
    background-image: url(https://img.freepik.com/free-photo/abstract-extruded-voronoi-blocks-background-minimal-light-clean-corporate-wall-3d-geometric-surface-illustration-polygonal-elements-displacement_1217-2503.jpg?semt=ais_hybrid&w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    /*Aqui me puse a jugar con el fondo para que se viera bonito*/
}

h1 {
    color: #000000;
    width: 30rem;
    padding-bottom: 1.5vh;
}

.Formulario {
    /*en esta clase arregle el recuadro que contiene el formulario para que se viera mas bonito*/
    background-color: rgba(255, 255, 255, 0.699);
    backdrop-filter: blur(8px);
    width: 25vw
}
